@model IEnumerable<Employment.Models.CompanyAddressDto>

@{
    ViewData["Title"] = "Адреса";
}

<h1>Адресная книга</h1>

<p>
    <a asp-action="Create">Добавить адрес</a>
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Компания: @item.CompanyName
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in item.FullAddresses)
                            {
                                <tr>
                                    <td>
                                        @a.ToString();
                                    </td>
                                    <td>
                                         <a asp-action="Edit" asp-route-id="@a.Id">Редактировать</a>
                                         <a asp-action="Delete" asp-controller="CompAddresses" asp-route-id="@a.Id">Удалить</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }
</div>