@model Employment.Data.SocialResponsibility

@{
    ViewData["Title"] = "Добавление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>SocialResponsibility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmploymentBook" class="control-label"></label>
                <input asp-for="EmploymentBook" class="form-control" />
                <span asp-validation-for="EmploymentBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialPackage" class="control-label"></label>
                <input asp-for="SocialPackage" class="form-control" />
                <span asp-validation-for="SocialPackage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class ="form-control" asp-items="ViewBag.PostId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
