@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт трудоустройства!</h1>
    <p>Здесь вы можете найти интересующие Вас вакансии нужной Вам компании.</p>
</div>
