@model Employment.Data.Responsibility

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h1>Вы уверены, что хотите удалить данную запись?</h1>
<div>
    <h4>Обязанность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Должность
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Posts" asp-route-id="@Model.Post.Id">Вернуться</a>
    </form>
</div>
